@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');
@import url(./table.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-padding: 32px;
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
}

.page-padding {
    padding-left:  var(--page-padding);
    padding-right: var(--page-padding);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Manrope";
    letter-spacing: 0.2px;
    border-color: inherit;
    transition: 0.125s ease-in-out;
}

.code {
    font-family: "JetBrains Mono";
    background: inherit;
}

footer {
    transition: none;
}
